body {
  font-family: 'Helvetica';
  background-color:#333;
}

h2, div, p {
  color:#f8f8f8;
}

a{
  color:#f8f8f8;
}

#board {
  width:100%;
  height: 152px;
  margin: 20px auto;
}

#display-area {
  text-align: center;
}

#other-player, #your-move, #their-move, #you-won, #you-lost {
  display: none;
}

#display-area.waiting #other-player {
  display: block;
}

#display-area.waiting #board, #display-area.waiting #this-game {
  display: none;
}
#display-area.won #you-won {
  display: block;
}
#display-area.lost #you-lost {
  display: block;
}
#display-area.your-move #your-move {
  display: block;
}
#display-area.their-move #their-move {
  display: block;
}


#this-game {
  font-size: 9pt;
}

div.cell {
  float: left;
  width:10%;
  height: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  line-height: 50px;
  font-family: "Helvetica";
  font-size: 16pt;
  text-align: center;
}

.your-move div.cell:hover {
  background: lightgrey;
}

.your-move div.cell:empty:hover {
  background: lightblue;
  cursor: pointer;
}

div.l {
  border-right: 1pt solid black;
}

div.r {
  border-left: 1pt solid black;
}

div.t {
  border-bottom: 1pt solid black;
}

div.b {
  border-top: 1pt solid black;
}

div.m.c{
  border: 1pt solid black;
  margin-left:45%;
  background-color:#f8f8f8;
}

#number {
  display:none;
}

#board {
  display:none;
}

#users{
  border-bottom:2px solid #f8f8f8;
  padding-bottom:2%;
}
#userList{
  padding-top:1%;
}
#start-game{
  margin:2% 0;
  padding:5%;
  background-color:#f8f8f8;
  color:#333;
  border-radius:15px;
}

#userList{
  position: absolute;
  top:5%;
  right:0;
  border:2px solid #f8f8f8;

}