body {
  font-family: sans-serif;
  background-color:#333;
  padding-top:5%;
  text-align:center;
  color:#f8f8f8;
}

h1{
    font-size:48pt;
}

#users {
  border-bottom: 2px solid #f8f8f8;
    font-size:24pt;
}

#userList{
  border:2px solid #f8f8f8;
}

#userList > h3{
    font-size:36pt;
    padding: 0 1%;
}

#userList, #pin{
    max-width:50%;
    display:inline-block;
    margin:0 5%;
    vertical-align:top;
}

#pin > h2{
    font-size:24pt;
}

#start-game{
    padding:10px;
    font-size:24pt;
    border-radius:15px;
    border:0;
    background-color:#00CC11;
    color:#f8f8f8;
    margin: 5% 0;
}

#start-game:hover{
    background-color:#00A00D;
}
