<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ironclad</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/entry.css" />
</head>
<body>
    <h1>Ironclad TypeTester V1.0</h1>
    <div id="user-details">
        <h2>User Details:</h2>
        <h3>User ID: {{ uid }} </h3>
        <h3>Currently Set Username: {{ uname }} </h3>

        <form method="post" action="{{ url_for('solo.set_username') }}">
            <label form="name" class="form label">Name:</label>
            <input type="text" name="name" value="{{ uname }}" class="form text-box">
            <input type="submit" value="Change Username" id="change-button">
        </form>
    </div>
    <div id="game-details">
        <h2>Start/Join Game:</h2>
        <a href="{{ url_for('game.start_game') }}"><button id="start-button">Start new game</button></a>
        <form method="post" action="{{ url_for('solo.solo_join_game') }}">
            <label form="pin" class="form label">PIN:</label>
            <input type="text" name="pin" value="" class="form text-box">
            <input type="submit" value="Join Game" id="join-button">
        </form>

    </div>
</body>
</html>