<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <strong>User ID</strong>: {{ uid }} <br>
    <strong>Username</strong>: {{ uname }}
    <form method="post" action="{{ url_for('solo.set_username') }}">
        <label form="name">Name:</label>
        <input type="text" name="name" value="{{ uname }}"><br />
        <input type="submit" value="Change Name">
    </form>
    <br>

    <a href="{{ url_for('game.start_game') }}">Start new game</a><br />

    <form method="post" action="{{ url_for('solo.solo_join_game') }}">
        <label form="pin">PIN:</label>
        <input type="text" name="pin" value="0000">
        <input type="submit" value="Join Game">
    </form>
</body>
</html>