<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>App</title>
         {% include "_firebase_config.html" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </head>

    <script src="static/lib/pixi.min.js"></script>
    <!-- import javascript game files here -->
    <body>
        <script src="static/lib/classes/grid.js"></script>
        <script src="static/lib/classes/ocean.js"></script>
        <script src="static/lib/classes/ship.js"></script>
        <script src="static/lib/classes/newShip.js"></script>
        <script src="static/lib/classes/utility.js"></script>
        <script src="static/lib/classes/keyboard.js"></script>
        <script src="static/lib/classes/missileController.js"></script>
        <script src="static/lib/classes/highlightedSquare.js"></script>
        <script src="static/lib/classes/sound.js"></script>
        <script src="static/lib/classes/buttonManager.js"></script>
        <script src="static/lib/classes/lowerConsole.js"></script>
        <script src="static/lib/classes/test.js"></script>
        <script src="static/lib/classes/enemyTracker.js"></script>
        <script src="static/lib/classes/enemy.js"></script>
        <script src="static/Game.js"></script>
        <script>
          initGame('{{ game_key }}', '{{ me }}', '{{ token }}', '{{ channel_id }}',
              {# use the |safe flag to get unescaped json to render #}
              {{ initial_message|safe }});
        </script>
        <div id="this-game" float="top">
            Quick link to this game: <span id="this-game-link"><a href="{{ game_link }}">{{ game_link }}</a></span>
        </div>
    </body>
</html>