<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How should this work?</title>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyABYPdWIF56Ff7HbPQ-nJfE9YY0Fcc_eeQ",
        authDomain: "fir-test-222916.firebaseapp.com",
        databaseURL: "https://fir-test-222916.firebaseio.com",
        projectId: "firebase-test-222916",
        storageBucket: "firebase-test-222916.appspot.com",
        messagingSenderId: "368557792160"
      };
      firebase.initializeApp(config);
    </script>
</head>
<body>

</body>
</html>